# Python environment configuration

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: insurance.wsgi:application
  
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: insurance.settings
    PYTHONUNBUFFERED: 1

container_commands:
  01_install_requirements:
    command: |
      source $PYTHONPATH/activate
      pip install --upgrade pip
      pip install -r requirements.txt
    leader_only: false
  02_verify_django:
    command: |
      source $PYTHONPATH/activate
      python -c "import django; print('Django version:', django.VERSION)"
    leader_only: false
